<form action="/result">
  <div class="form-group">
    <label for="sides">Enter your triangle sides</label>
    <input id="side_1" type="text" name="side_1" class="form-control">
    <input id="side_2" type="text" name="side_2" class="form-control">
    <input id="side_3" type="text" name="side_3" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success btn-lg" id="submit">Check</button>
</form>
