<% if @triangle.triangle?() %>
  <% if @triangle.equilateral?() %>
    <p> this is an equilateral triangle </p>
  <% elsif @triangle.isosceles?() %>
    <p> this is an isosceles triangle </p>
  <% elsif @triangle.scalene?() %>
    <p> this is a scalene triangle </p>
  <% end %>
<% else %>
<p> this is not a triangle </p>
<% end %>
